div {
  text-align: center;
  background-color: #f661fb;
}

Form {
  background-color: #f1199f;
  /* min-height: 100vh; */
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

